    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-10 mx-auto">
            <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">About Virtual Booking Agent</h1>

            <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
                <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl h-72 lg:h-96" src="/assets/cwt.jpeg" alt="">

                <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
                    <p class="text-sm text-blue-500 uppercase">category</p>

                    <a href="#" class="block mt-4 text-2xl font-semibold text-gray-800 hover:underline dark:text-white md:text-3xl">
                         A Tool to Book Concerts
                    </a>

                    <p class="mt-3 text-sm text-gray-500 dark:text-gray-300 md:text-sm"></p>

                </div>                    


<div class="container text-2xl">  

Virtual Booking Agent is a tool to help performers and venues get together. </br></br>
When performers have a concert they want to offer, they put information about it here and
venues can receive email about the offer as well as come search for what concerts are being offered in their area.  
<br/><br/>
If you are a performer, you can find contacts to venues for performance opportunities. You can search for venues near you. Performers can belong to more than one group. 
<br/><br/>
If you are a venue, you can find groups near you that are offering concerts.  You can search for groups near you.
<br/><br/>

A user is either a performer or a venue.  (technically you can be both but we will not worry about that now) <br/>
<br/>
Musicians and venues are connected through concerts.  Venues can look for concerts and arrange scheduling with the musician connected to the concert while musicians can look for venues. <br/>
<br/>

If you are a performer you have concerts. A concert has several pieces. Each piece has a title, composer, etc. <br/><br/>

If you are a venue, you also have concerts. That is your focus, to find a concert for your community.  
Each user is associated with either a group or a venue.  If you are a performer, you have a group, or if you are a solo performer, the group is you!  If you are a venue you have concerts. <br/><br/>
Each group has one or more performers.  When you start using VBA you create your group, or you can join an exiting group if allowed.

If you are not a performer, you need to create a venue.  Once you create your venue, you can search for groups and concerts in your area.  <br/><br/>




                    <div class="flex items-center mt-6">
                        <img class="object-cover object-center w-10 h-10 rounded-full" src="/assets/cwt.jpeg" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>
